<h1> Escribe una review de <%= game.title %></h1>

<form action="games/addReview" method="POST">
    <fieldset>
        <% if (locals.error) { %>
            <p><strong><%= locals.error %></strong></p>
        <% } %>
        <% if (locals.exito) { %>
            <p><strong><%= locals.exito %></strong></p>
        <% } %>
        <legend> Escribir review </legend>
        <label>Descripcion:</label> <label>
                <textarea name="description"></textarea>
        </label><%- helpers.error(errores, 'description') %>
        <p></p>
        <label>Nota:</label> <label>
                <input type="number" name="rating"/>
            </label><%- helpers.error(errores, 'rating') %>
        <p></p>
        <button type="submit">Enviar</button>
    </fieldset>
</form>