<section>
    <% showReviews(game.id) %>
</section>


<% function showReviews(id){ %>
    <% reviewList.forEach(review => { %>
        <div id = "review_juego">
            <% showRev(review) %>
        </div>
<% })} %>

<% function showRev(rev){ %>
    <p> <%= rev.username%></p>
    <p> <%= rev.date %></p>
    <p> <%= rev.description%></p>
    <p> <%= rev.rating%></p>
    <p></p>
    <p></p>
    <% if(session.esAdmin) {%>
        <form action = "/games/deleteReview/<%= rev.reviewId%>" method = "POST">
            <input type = "hidden" name = "gameId" value = "<%= game.id %>">
<!--            <input type = "hidden" name = "userId" value = "<%= session.UserName%>">-->
            <button type ="submit">Eliminar review</button>
        </form>
    <% }%>
<% } %>

<% function addReview(session) {%>
<%if(session.login) {%>
    <form action = "/games/addReview" method = "GET">

        <% console.log("ADD REVIEW FUNCTION"); %>
        <% console.log("GAMEID:" + game.id); %>
        <% console.log("USERID:" + session.UserName); %>
        <input type = "hidden" name = "gameId" value = "<%= game.id %>">
        <input type = "hidden" name = "userName" value = "<%= session.UserName%>">
        <button type ="submit">Escribir review</button>
    </form>
<%}%>
<%}%>
