<% adminOptions(session) %>

<section>
    <div class="juego_info_superior">
        <div class="juego_info">
            <% showGameInfo() %>
        </div>
        <div class="juego_info2">
            <% showGameInfo2() %>
        </div>
    </div>

    <div class="juego_info3">
        <% showGameInfo3() %>
    </div>
</section>

<p></p>
<section><%- include('reviews/userReviews') %></section>
<p></p>

<script>console.log("USERNAMEEEE" + session.UserName)</script>


<form action="/games/addReview/<%= game.id %>/<%= session.UserName%>" method="GET">
    <button type="submit">Añadir review </button>
</form>


<section><%- include('foro') %></section>

<% function showGameInfo(){ %>
    <h1><u><%= game.title %></u></h1>
    <a href="/games/<%= game.id %>"><img src="<%= game.image %>" alt="Imagen de <%= game.title %>"></a>
    <p>Valoracion media: <%= game.rating %></p>
    <p>Numero Favoritos: <%= game.favNumber %></p>
    

    <%- include('showGameGenres') %>

<% } %> <% function showGameInfo2(){ %>
    

    <p><u>Descripción del juego</u>:  <%= game.description %></p>
    <p><u>Desarrollado por</u>: Empresa 1</p>

    <p><u>Publicado por</u>: Empresa 2</p>
    <p><u>Añadir a tu lista personal</u> :<button> Añadir</button></p>

    <p>Disponible en las siguientes tiendas :</p>

    <p><li>TIENDA1</li></p>
    <p><li>TIENDA2</li></p>
    <p><li>TIENDA3</li></p>
    <p><li>TIENDA4</li></p>


<% } %>
<% function showGameInfo3(){ %>


    <h3>Noticias & Guías:</h3>

    <p>......</p>
    <p>......</p>
<% } %>


<% function adminOptions(session) { %>
    <% if(session.esAdmin) { %>
    <p> Herramientas admin:
    <form action="/games/deleteGame/<%= game.id %>" method="POST" style="display:inline;">
        <button type="submit">Eliminar juego</button>
    </form>

    <form action="/games/modifyGame/<%= game.id %>" method="GET" style="display:inline;">
        <button type="submit">Modificar juego</button>
    </form>
    <% } %>
<% } %>

