

<%adminOptions()%>

<section>
    <div id="juego_info_superior">
        <div id="juego_info">
            <% showGameInfo() %>
        </div>
        <div id="juego_info2">
            <% showGameInfo2() %>
        </div>
    </div>

    <div id="juego_info3">
        <% showGameInfo3() %>
    </div>

</section>

<p></p>


<section>
    <%- include('forum') %>
</section>

<!--   Da error por ahora
<section>
    <%- include('../partials/reviews')%>
</section>
-->

<%function showGameInfo(){ %>
    <h1><%=game.title%></h1>
    <p>Valoracion media: <%=game.rating%></p>
    
    <p>Numero Favoritos: <%=game.favNumber%></p>
    
    <p>IMAGENES</p>
    <p></p>
    
    <p>Descripción: <%=game.description%></p>

    
<% }%>


<%function showGameInfo2(){ %>
    <p> Pienso comprarlo</p>
    
    <p>Disponible en: </p>
    
    <p>TIENDA1</p>
    <p>TIENDA2</p>
    <p></p>
    
    <p>.....</p>
<% }%>



<%function showGameInfo3(){ %>
    <p> Desarrollado por: </p>
    
    <p> Publicado por: </p>
   
    <h3> Noticias & Guías: </h3>



    <p>......</p>
    <p>......</p>
<% }%>




<% function adminOptions() { %>
    <%  if(1 == 1) { %>
        <p> Herramientas admin : <a href="/games/addGame"> Eliminar juego</a> , <a href="/games/modifyGame/<%=game.id%>"> Modificar juego</a> </p>
<% }} %>