<h1>Lista de juegos</h1>

<form action="/games/listajuegos" method="POST">

    <h4><label for="game_title"> Busqueda:</label>
        <input type="text" name="game_title">
        <button style="margin-left: 10px;" type="submit">Buscar</button>

        <label for="options" style="margin-left: 20px;">Ordenado por:</label>
        <select id="options" name="order_option" style="margin-left: 10px;">
            <option value="optionSinOrden"> Sin orden</option>
            <option value="optionAlfabetico"> Alfabético</option>
            <option value="optionNota"> Nota</option>
            <option value="optionNumFavoritos"> Num Favoritos</option>
        </select>

        <select id="asc_desc_option" name="asc_desc_option" style="margin-left: 10px;">
            <option value="optionDesc"> Descendente</option>
            <option value="optionAsc"> Ascendente</option>
        </select>

    </h4>

    </h4>
</form>
<% addGameOption() %>

<div id="game_list">
    <% showGameList() %>
</div>

<% function showGameList() { %>
    <% gameList.forEach(game=>{ %>

        <div id="juego_info_in_list">
            <% showGameInfo(game) %>
        </div>
<% })} %>

<% function showGameInfo(game){ %>
    <h3 style="margin-left: 20px;"><a href="/games/<%= game.id %>"><%= game.title %></a></h3>
    <p>IMAGEN</p>
    <p style="margin-left: 20px;">Valoracion media: <%= game.rating %> </p>
    <p style="margin-left: 20px;"> Numero Favoritos: <%= game.favNumber %> </p>

    <p style="margin-left: 20px;">Descripción: <%= game.description %></p>
<% } %>
