<h1> Modificacion de datos de un juego</h1>

<% if (1 === 1) { %>
    <form action="/genres/modifyGenres/<%=game.id%>" method="POST">
    <fieldset>
        <% if (locals.error) { %>
            <p><strong><%= locals.error %></strong></p>
        <% } %>
        <% if (locals.exito) { %>
            <p><strong><%= locals.exito %></strong></p>
        <% } %>
        <legend> Modificar Generos</legend>   
        <label>Titulo:</label> <input type="text" name="title"  value = "<%=game.title%>"> <p></p>
        <button type="submit">Enviar</button>
    </fieldset>
<% }

<% function showGenreList() { %>
    <%  genreList.forEach(genre=>{ %>
            <%showGenreInfo(genre)%>
            <button onclick="deleteGenre('<%= genre.id %>')">X Eliminar</button>
<% })} %>

<%showGenreInfo(genre){ %>
    <div id = "bloque_genero">
        <%=genre.name%>
    </div>
<% } %>