<h1> Modificación de datos de un juego</h1>

<% if (1 === 1) { %>
    <form action="/genres/modifyGenre/<%= game.id %>" method="POST">
        <fieldset>
            <% if (locals.error) { %>
                <p><strong><%= locals.error %></strong></p>
            <% } %>
            <% if (locals.exito) { %>
                <p><strong><%= locals.exito %></strong></p>
            <% } %>
            <legend> Modificar Géneros</legend>
            <label>Título:</label>
            <input type="text" name="title" value="<%= game.title %>">
            <p></p>
            <button type="submit">Enviar</button>
        </fieldset>
    </form>
<% } %>

<% if (typeof genreList !== 'undefined') { %>
    <% genreList.forEach(genre => { %>
        <div id="bloque_genero">
            <%= genre.name %>
        </div>
        <button onclick="deleteGenre('<%= genre.id %>')">X Eliminar</button>
    <% }); %>
<% } %>
