<h1> Modificacion de datos de un juego</h1>

<% if (1 === 1) { %>
    <form action="/genres/modifyGenres/<%=game.id%>" method="POST">
    <fieldset>
        <% if (locals.error) { %>
            <p><strong><%= locals.error %></strong></p>
        <% } %>
        <% if (locals.exito) { %>
            <p><strong><%= locals.exito %></strong></p>
        <% } %>
        <legend> Modificar Generos</legend>   
        <label>Titulo:</label> <input type="text" name="title"  value = "<%=game.title%>"> <p></p>
        <button type="submit">Enviar</button>
    </fieldset>
<% }

<% function showGenreList() { %>
    <%  genreList.forEach(genre=>{ %>
            <%showGenreInfo(genre)%>
<% })} %>

<%function showGenreInfo(genre){ %>
        <h3 style="margin-left: 20px;"><a href="/games/<%=game.id%>"><%=game.title%></a></h3>    
        <p>IMAGEN</p>
        <p style="margin-left: 20px;">Valoracion media: <%=game.rating%> </p>
        <p style="margin-left: 20px;"> Numero Favoritos: <%=game.favNumber%> </p>
        
        <p style="margin-left: 20px;">Descripción: <%=game.description%></p>
    <% }%>